#page-header {
  background: transparent !important;
  position: relative;
  padding-bottom: 0;
}
#page-header.post-bg,
#page-header.not-home-page {
  height: auto !important;
  min-height: 120px;
  padding: 20px 0 10px;
}
#page-header.post-bg #post-info,
#page-header.not-home-page #post-info {
  position: relative;
  bottom: auto !important;
  margin: 5px 0;
  text-align: center;
}
#page-header.post-bg #page-site-info,
#page-header.not-home-page #page-site-info {
  position: relative;
  top: auto !important;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  #page-header.post-bg,
  #page-header.not-home-page {
    min-height: 100px;
    padding: 15px 0 5px;
  }
  #page-header.post-bg #post-info,
  #page-header.not-home-page #post-info {
    margin: 3px 0;
    bottom: auto !important;
  }
  #page-header.post-bg #page-site-info,
  #page-header.not-home-page #page-site-info {
    top: auto !important;
    margin: 5px 0;
  }
}
.top-img {
  height: 40vw;
  max-height: 280px;
  min-height: 150px;
  margin: 0 -20px 10px;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 150px;
    margin: 0 -10px 8px;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
[data-theme='dark'] #footer:before {
  background-color: rgba(0,0,0,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
}
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: var(--light-grey);
}
.post-content {
  margin-top: 10px !important;
}
